<div class="container col-md-8">
  <h1>Submit Student</h1>

  <p>Server : <strong>{{response | json}}</strong></p>

  <form name="studentForm" (submit)="submitForm()">
    <div class="form-group">
      <label for="studentName">Student Name</label>
      <input type="text" class="form-control" id="studentName"
             required
             [(ngModel)]="model.studentName" name="studentName">
    </div>

    <div class="form-group">
      <label for="dob">Date Of Birth</label>
      <input type="date"  class="form-control" id="dob"
             [(ngModel)]="model.dob" name="dob" required>
    </div>

    <div class="form-group">
      <label for="studentClass">Student Class</label>
      <select class="form-control"  id="studentClass"
              required
              [(ngModel)]="model.studentClass" name="studentClass">
        <option *ngFor="let classIndex of classList" [value]="classIndex">{{classIndex}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="year">Class Year</label>
      <input type="text"  class="form-control" id="year"
             [(ngModel)]="model.year" name="year">
    </div>

    <div class="form-group">
      <label for="quarter">Quarter</label>
      <select class="form-control"  id="quarter"
              required
              [(ngModel)]="model.quarter" name="quarter">
        <option *ngFor="let quarterIndex of quarterList" [value]="quarterIndex">{{quarterIndex}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="mathematicsGrades">Mathematics Grades</label>
      <input type="text"  class="form-control" id="mathematicsGrades"
             [(ngModel)]="model.mathematicsGrades" name="mathematicsGrades">
    </div>

    <div class="form-group">
      <label for="literatureGrades">Literature Grades</label>
      <input type="text"  class="form-control" id="literatureGrades"
             [(ngModel)]="model.literatureGrades" name="literatureGrades">
    </div>
    <div class="form-group">
      <label for="computerGrades">Computer Science Grades</label>
      <input type="text"  class="form-control" id="computerGrades"
             [(ngModel)]="model.computerGrades" name="computerGrades">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>