
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">STUDENT APPLICATION</h1>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Students</h4>
            </div>

            <div class="card-body" *ngIf="studentData" style="bottom: 1px solid #ccc;">
                <strong>Selected Student:</strong>
                <br>
                <strong>Name</strong> : {{studentData.name}}
                <br>
                <strong>Birthday</strong> : {{studentData.birthday}}
            </div>

            <div class="card-body" *ngIf="studentsData" style="overflow-y: scroll; overflow-x: hidden; height:37vh">
               Search Student Name: <input type="text" [(ngModel)]="searchText">
                <br>
                <table>
                <div *ngFor="let student of studentsData | filter : searchText : 'name' " >
                    <tr>
                        <td>
                            <span>{{student.name}}</span>
                        </td>
                        <td>
                            <button (click)="getStudentById(student.id)">
                                View<br/>
                            </button>
                        </td>
                        <td>
                            <button (click)="statsStudentPerQuarter(student.id)">
                                Stats Per Quarter<br/>
                            </button>
                        </td>
                    </tr>
                </div>
                </table>
            </div>
        </div>
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Quarter</h4>
            </div>

            <div class="card-body" *ngIf="quarterData" style="overflow-y: scroll; overflow-x: hidden; height:37vh">
                <div *ngFor="let quarter of quarterData " >
                    <button
                            class="btn btn-lg btn-block btn-primary"
                            (click)="statsQuarterPerSubject(quarter.year, quarter.quarter)">
                            {{quarter.year}} - {{quarter.quarter}}<br/>
                    </button>
                    <br>
                </div>
            </div>
        </div>
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Subjects</h4>
            </div>
            <div class="card-body" *ngIf="subjectList">
                <div *ngFor="let subject of subjectList">
                    <button (click)="statsStudentSubject(subject)" class="btn btn-lg btn-block btn-primary">{{subject}}</button>
                    <br>
                </div>
            </div>
        </div>
    </div>


    <app-graph [canvas]="graphData"></app-graph>
    <hr>

    <app-form></app-form>
    <hr>
</div>